html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
}

/* Social media footer */

a.btn-social, .btn-social {
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 54px;
}

.btn-social .fa, .btn-social i {
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
}

.btn-social:hover, .btn-social:focus {
    color: #fff;
    outline: none;
    text-decoration: none;
}

.btn-social:hover .fa, .btn-social:focus .fa, .btn-social:hover i, .btn-social:focus i {
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-facebook:hover {
    background-color: #4c70ba;
}

.btn-github {
    background-color: #24292e;
}

.btn-github:hover {
    background-color: #363d45;
}

.btn-instagram {
    background-color: #3f729b;
}

.btn-instagram:hover {
    background-color: #548cb9;
}

/* Social media footer */

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.underline {
    border-bottom: 3px solid #4EBA6F;
}

.breadcrumb-item+.breadcrumb-item::before {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    color: #4EBA6F;
}

.none_li {
    color: white !important;
}

a:link {
    text-decoration: none;
}

/* Largura do scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background-color: #535867;
    border-radius: 0px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .5);
    border-radius: 4px;
}

/* Autocomplete jquery */
.ui-autocomplete {
    /* top: 61.5px !important; */
    /* left: 69.5% !important; */
    /* top: 30.8px !important; */
    top: 28px !important;
    left: 0px !important;
    margin-left: -308px !important;
    max-height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px !important;
    max-width: 300px !important;
    border: none !important;
    box-shadow: 0 2px 10px 0px rgba(0,0,0,0.7);
    z-index: -1 !important;
    border-radius: 5px 5px 5px 5px;
}

.ui-autocomplete-row {
    margin: 0 !important;
    padding: 8px;
    background-color: #f4f4f4;
    font-weight: bold;
    margin-right: -20px !important;
    margin-left: -20px !important;
}

.ui-autocomplete-row:hover {
    margin: 0 !important;
    background-color: rgb(231, 226, 226);
    transition: 0.1s;
    font-weight: bold;
    color: black;
    margin-right: -20px !important;
    margin-left: -20px !important;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    margin: 0 !important;
    background: none !important;
    border: none !important;
    font-weight: bold;
    color: black;
    
}
/* Autocomplete jquery */

#div_autocomplete {
    display: block; 
	position: relative;
} 

/* Custom card left border */

.bd-callout {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 303px;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    background-color: #eee;
}

.bd-callout-warning {
    border-left-color: #f0ad4e !important;
}

/* Custom card left border */

/* sticky theader */
.theader_top {
    position: sticky;
    top: 60px;
}

/* vertical align for table lines/columns */
.table>tbody>tr>td {
    vertical-align: middle;
}